<footer>
    <div class="footer__chapters">
        <div class="footer__chapter">
            <h2 class="footer__chapter_title">Правила</h2>
            <a class="footer__chapter_link" href="{% url 'info:policy' %}">Политика конфиденциальности</a>
            <a class="footer__chapter_link" href="{% url 'info:terms' %}">Пользовательское соглашение</a>
        </div>
        <div class="footer__chapter">
            <h2 class="footer__chapter_title">Проект</h2>
            <a class="footer__chapter_link" href="{% url 'info:about_project' %}">О проекте</a>
            <a class="footer__chapter_link" href="{% url 'info:about_team' %}">О команде</a>
        </div>
        <div class="footer__chapter">
            <h2 class="footer__chapter_title">Контакты</h2>
            <a class="footer__chapter_link" href="mailto:wf.denis.tokarev@gmail.com">wf.denis.tokarev@gmail.com</a>
            <a class="footer__chapter_link" href="tel:+79644102006">+7 (964) 410-20-06</a>
        </div>
    </div>
</footer>
