{% load static %}

<header>
    <h1><img class="header__logo" src="{% static 'img/logo.svg' %}" alt="MindMotion"></h1>
    <div class="header__controls">
        <input class="header__input" type="text" placeholder="Поиск..." aria-label="Поиск">
        <div class="header__user">
            {% if request.user.is_authenticated %}
                <a href="#" role="button">{{ request.user.username }}</a>
                <a href="{% url 'accounts:signout' %}" role="button">Выйти</a>
            {% else %}
                <a href="#" role="button">Войти</a>
            {% endif %}
        </div>
    </div>
</header>
